<div id="<%= dom_id account %>">
  <p>
    <strong>Account number:</strong>
    <%= account.account_number %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= account.password %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

</div>
